<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="userRepo" class="persistence.hibernate.RideHibernateRepository" />

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"/>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="RidesTopic"/>
    </bean>

    <bean id="converter" class="org.springframework.jms.support.converter.MappingJackson2MessageConverter">
        <property name="targetType" value="TEXT"/>
        <property name="typeIdPropertyName" value="_notification"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
        <property name="messageConverter" ref="converter"/>
    </bean>

    <bean id="notificationService" class="server.NotificationServiceImpl">
        <constructor-arg ref="jmsTemplate"/>
    </bean>

    <bean id="amsServer" class="server.ServerAMSImpl">
        <constructor-arg ref="userRepo"/>
        <constructor-arg ref="notificationService"/>
    </bean>

    <bean id="chatTCPServer" class="networking.utils.AMSConcurrentServer">
        <constructor-arg value="55555"/>
        <constructor-arg ref="amsServer"/>
    </bean>
</beans>