<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="OnwardTravelDB" providerName="" connectionString="Server=127.0.0.1;Port=5432;Database=onward_travel;User Id=postgres;Password=postgres;CommandTimeout=20;"/>
	</connectionStrings>
	<appSettings>
		<clear/>
		<add key="ServerIP" value="127.0.0.1"/>
		<add key="ServerHost" value="44444" />
	</appSettings>
</configuration>