<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<clear/>
		<add name="ContestsDB" providerName="" connectionString="Data Source=RAZVAN\SQLEXPRESS;Initial Catalog=Contests;Integrated Security=True"/>
	</connectionStrings>
</configuration>