.title {
    -fx-fill: #fff;
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
}

.chatter {
    -fx-fill: #fff;
    -fx-font-size: 35px;
    -fx-font-weight: bolder;
}

.count {
    -fx-fill: #fff;
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

.content {
    -fx-fill: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.background {
    -fx-background-image: url("../media/backgrounds/home-background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.frame {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
    -fx-background-radius: 5px;
}

.users-info-section {
    /*-fx-background-color: linear-gradient(to bottom right, #b0f, #60a);*/
    -fx-background-color: linear-gradient(to bottom right, #d00, #dd0);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.8), 5, 0, 0, 3);
}

.friendships-info-section {
    /*-fx-background-color: linear-gradient(to bottom right, #f80, #b40);*/
    -fx-background-color: linear-gradient(to bottom right, #0d0, #0dd);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.8), 5, 0, 0, 3);
}

.chatter-info-section {
    /*-fx-background-color: linear-gradient(to bottom right, #0c0, #080);*/
    -fx-background-color: linear-gradient(to bottom right, #00d, #d0d);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.8), 5, 0, 0, 3);
}
