@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.root {
    -fx-font-family: 'PT Sans', sans-serif;
    -fx-font-size: 15px;
    -fx-background-color: #fff;
    -fx-text-fill: #333;
}

.title-bar {
    -fx-background-color: #336699;
    -fx-padding: 5;
}

.text-area, .text-field {
    -fx-background-color: -fx-text-box-border, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
    -fx-font-size: 15px;
}

.text-area:focused, .text-field:focused {
    -fx-background-color: #fff, #f9f9f9;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.5), 3, 0, 0, 2);
}

/* Fix derived prompt color for text fields */
.text-area .text-input, .text-field .text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -60%);
    -fx-font-size: 16px;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-area .text-input:focused, .text-field .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -80%);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.prompt-text {
    -fx-font-size: 14px;
    -fx-fill: #999;
}

.scroll-pane {
    -fx-background-color: #fff;
    /*-fx-border-color: #aaa;*/
}

.scroll-pane > .viewport {
    -fx-background-color: #fff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #ddd;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #999;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.scroll-bar{
    -fx-background-color: #fff;
    -fx-background-radius: 2em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-radius: 4px 0 0 4px;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-text-box-border, #fff;
    -fx-background-image: url("../media/icons/register-calendar.png");
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0 4px 4px 0;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}

.date-picker .cell {
    -fx-text-fill: #222;
}
.date-picker .cell:hover {
    -fx-background-color: #eee;
}
.date-picker .cell:focused {
    -fx-background-color: #eee;
}

.date-picker-popup {
    -fx-border-color: transparent;
    -fx-min-width: 310px;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #7cb;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #fff;
}

.date-picker-popup .spinner .button {
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow{
    -fx-background-color: #fff;
}
